<div class="languages-container">
  {% for content in data[1] %}
    <div class="language-group" title="{{ content.fluency }}">
      <div class="language-category">
        {% if content.icon %}
          <span class="language-icon">
            <i class="{{ content.icon }}"></i>
          </span>
        {% endif %}
        <span class="language-name">{{ content.language }}</span>
      </div>
      <b>{{ content.fluency }}</b>
      {% if content.keywords %}
        <div class="language-keywords">
          {{ content.keywords | join: ', ' }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

<style>
  .languages-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: transparent;
  }

  .language-group {
    flex: 1 1 calc(50% - 20px);
    /* Two columns layout */
    background-color: transparent;
    padding: 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  }

  .language-category {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .language-icon {
    margin-right: 15px;
    font-size: 1.5em;
    color: var(--global-theme-color);
    /* Primary color */
  }

  .language-name {
    font-weight: bold;
    font-size: 1.3em;
    color: var(--global-theme-color);
  }

  .language-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  .language-item {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
  }

  .language-item:last-child {
    border-bottom: none;
  }

  .language-item:hover {
    background-color: transparent;
  }

  .language-keywords {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
  }
</style>
