---
layout: default
---
<div class="about-page">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span>
        {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width:
      576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes
            alt=page.profile.image cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- Projects -->
    {% if site.data.projects %}
      <h2>
        <a href="{{ '/projects/' | relative_url }}" style="color: inherit">{{ 'selected projects' | capitalize }}</a>
      </h2>
      <ul class="card-text font-weight-light list-group list-group-flush">
        {% assign sorted_projects = site.data.projects | sort: 'releaseDate' | reverse %}
        {% for project in sorted_projects limit: 4 %}
          <li class="list-group-item project-item">
            <div class="row">
              <div class="col-sm-4">
                <div class="image-wrapper">
                  <img src="{{ project.image }}" alt="{{ project.title }}">
                </div>
              </div>
              <div class="col-sm-8">
                <h3>
                  <a href="{{ project.url }}">{{ project.title }}</a>
                </h3>
                <p>{{ project.description }}</p>
                <p>
                  <strong>Technologies used:</strong>
                  {{ project.technologies | join: ', ' }}
                </p>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">Latest blog posts</a>
      </h2>
      {% include latest_posts.liquid limit=true %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>

<style>
  .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: inherit;
  }

  .image-wrapper {
    flex-shrink: 0;
    width: 200px;
    /* Fixed width */
    height: 200px;
    /* Fixed height */
    overflow: hidden;
    /* Ensures the image doesn't overflow the container */
    border-radius: 10px;
    /* Optional: Adds rounded corners to the image container */
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the container while maintaining aspect ratio */
  }

  @media (max-width: 768px) {
    .image-wrapper {
      width: 100%;
      /* Full width on smaller screens */
      height: auto;
      /* Adjust height automatically */
    }
  }

  .project-description,
  .social {
    background-color: inherit;
  }

  .parent-container {
    display: flex;
    align-items: center;
  }

  header {
    margin-bottom: 0;
  }

  .profile {
    float: left;
    position: relative;
    top: -20px;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  .profile-image-container {
    flex-shrink: 0;
  }

  .about-text {
    flex: 1;
  }

  .profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .profile-image {
      width: 100%;
      height: auto;
    }
  }

  .custom-btn-style {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    /* Add any other styles you want the button to have */
  }
</style>
